.DS_Store

/libs/atnotate/atnotate.pyc
.idea

/src/www/js/lavaca
/src/www/js/libs

/cordova/platforms/android/.classpath
/cordova/platforms/android/.project
/cordova/platforms/android/bin/*
/cordova/platforms/android/gen/*
/cordova/platforms/android/assets/www

/cordova/platforms/ios/App.xcodeproj/project.xcworkspace/xcuserdata
/cordova/platforms/ios/App.xcodeproj/xcuserdata
/cordova/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata
/cordova/platforms/ios/www

/cordova/www

/node_modules
/docs
/doc
/pkg
/tmp
/build
/log

.tern-port
test/runner.html

#### items from generated gitignore file in cordova ios project
*.mode1v3
*.perspectivev3
*.pbxuser