.DS_Store

/libs/atnotate/atnotate.pyc
.idea

/src/www/js/lavaca
/src/www/js/libs

/src/platforms/android/.classpath
/src/platforms/android/.project
/src/platforms/android/bin/*
/src/platforms/android/gen/*
/src/platforms/android/assets/www

/src/platforms/ios/App.xcodeproj/project.xcworkspace/xcuserdata
/src/platforms/ios/App.xcodeproj/xcuserdata
/src/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata
/src/platforms/ios/www


/cordova/www

/node_modules
/docs
/doc
/pkg
/tmp
/build
/log

.tern-port
test/runner.html



#### items from generated gitignore file in cordova ios project
*.mode1v3
*.perspectivev3
*.pbxuser