<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>__IPA_FILE__</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <false />
            <key>url</key>
            <string>__ICON_FILE__</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>__BUNDLE_IDENTIFIER__</string>
          <key>bundle-version</key>
          <string>__BUILD_VERSION__</string>
          <key>subtitle</key>
          <string>__SUBTITLE__</string>
          <key>title</key>
          <string>__APP_NAME__</string>
          <key>kind</key>
          <string>software</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>